<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WeightChecking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <WeightChecking.Properties.Settings>
      <setting name="conString" serializeAs="String">
        <value>ed3YbBgz3fF3bb/osXwqYNhSCfyKvNWvXPUgvQLnsbz+Nd6Vj/7Bp8rlvWbE/zlBsqiGfzls0FozxdSpLEGyIYk/FpLk0PUEB0owITx4e7QWtAs6hhG9O20ffz+nroHV3b//mZ91MP5kAywrsmMsnt2//5mfdTD+ZFycX6i+aqjOePbB/5XtS54TqvGoMQ6uZs5JoyLjxtFaOXCkfgRc3OCVgB+kkBmL</value>
      </setting>
      <setting name="ipConveyor" serializeAs="String">
        <value>192.168.80.3</value>
      </setting>
      <setting name="conStringWL" serializeAs="String">
        <value>ed3YbBgz3fF3bb/osXwqYNhSCfyKvNWvXPUgvQLnsbxhiBYExpE31Zqka9VTJreKXnvPXqdo2TaQPGxYvjIEfeJvW5J47WBVFrQLOoYRvTttH38/p66B1d2//5mfdTD+ZAMsK7JjLJ7dv/+Zn3Uw/mRcnF+ovmqoznj2wf+V7UueE6rxqDEOrmbOSaMi48bRWjlwpH4EXNzglYAfpJAZiw==</value>
      </setting>
      <setting name="UnitScale" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ComPortScale" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="UpdatePath" serializeAs="String">
        <value>\\10.40.10.9\Public$\98_Public_Share\99_Shared\05_IT\01_Update\21- IDCScaleSystem\update.xml</value>
      </setting>
      <setting name="IsScale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCounter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Station" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AfterPrinting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintComPort" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="ScannerIdMetal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScannerIdWeight" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ScannerIdPrint" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TimeCheckQrMetal" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TimeCheckQrScale" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="IsTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="conStringTest" serializeAs="String">
        <value>ed3YbBgz3fF3bb/osXwqYNhSCfyKvNWvXPUgvQLnsbz+Nd6Vj/7Bp3JpDzU1SquQf9r/UjvioXIcrdYeKJIBZxfUIaWnODCfVyoZD4vtKfTY2bzuwo+x9IWaUwNDM8sXy0vvVfwBcTaxNaqOPWxs7wJ2VL5tVKN6NXz6gB+a8K0JokfzGUFtGBP4RKiPCgVqqhImSXhPA27fwcNR/ExwoYestgqmQS8+</value>
      </setting>
    </WeightChecking.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>